# .editorconfig file for a WordPress block theme development project

# WordPress Coding Standards
# https://make.wordpress.org/core/handbook/coding-standards/

# Define rules for all files
root = true

# Rules for PHP files
[*.{php}]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Rules for HTML files
[*.{html}]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Rules for CSS files
[*.{css}]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Rules for JavaScript files
[*.{js}]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
